# Virtual environment
venv/
env/
.venv/
myenv/

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.log
local_settings.py
db.sqlite3
media/

# Environment variables
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/myenv/

# SQLite
db.sqlite3
db.sqlite3-journal
db.sqlite3-shm
db.sqlite3-wal

# Local database backups
backups/